<div class="row">
  <div class="col-md-6">
    <div id="blacklist-website" class="panel panel-danger list-panel">
      <div class="panel-heading">
        <span data-translate="blacklistWebsites">Blacklist Websites</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Content in these websites will not be translated"></span>
        <button type="button" data-toggle="modal" data-target="#blacklistWebsitesModal" class="btn btn-warning pull-right btn-xs" style="margin-right: 5px">
          <span data-translate="videoTutorial">Video Tutorial</span>
        </button>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="opctrl.newBlacklistWebsite" id="new-blacklist-website" placeholder="stackoverflow.com">
          <span class="input-group-btn">
            <button class="btn btn-danger" id="add-blacklist-website" type="submit" ng-click="opctrl.addBlackListedWebsite()" data-translate="add">Add</button>
          </span>
        </div>
      </div>
      <div ng-show="opctrl.blacklistedWebsites.length === 0" class="text-center vertical-center-list">
        <h5 class="text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span> <span data-translate="noBlacklistedWebsites"> No Blacklisted Websites</span> </h5>
      </div>
      <ul class="list-group list-min-size" ng-hide="opctrl.blacklistedWebsites.length === 0" style="height: 260px; overflow-y: scroll;">
        <li class="list-group-item clearfix" lazy-scroll="paginationFuntion()" lazy-scroll-trigger="80" ng-repeat="website in opctrl.blacklistedWebsites">{{website}}
          <span class="pull-right">
            <button class="btn btn-warning" ng-click="opctrl.removeBlackListedWebsite(website)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blacklist-words" class="panel panel-danger list-panel">
      <div class="panel-heading">
        <span data-translate="blacklistWords">Blacklist Words</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="These words will not be translated"></span>
        <button type="button" data-toggle="modal" data-target="#blacklistWordsModal" class="btn btn-warning pull-right btn-xs" style="margin-right: 5px">
          <span data-translate="videoTutorial">Video Tutorial</span>
        </button>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="opctrl.newBlacklistWord" id="new-blacklist-word" placeholder="and">
          <span class="input-group-btn">
            <button class="btn btn-danger" id="add-blacklist-word" type="submit" ng-click="opctrl.addBlackListedWord()" data-translate="add">Add</button>
          </span>
        </div>
      </div>
      <div ng-show="opctrl.blacklistedWords.length === 0" class="text-center vertical-center-list">
        <h5 class="text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span> <span data-translate="noBlacklistedWords">No Blacklisted Words</span></h5>
      </div>
      <ul class="list-group list-min-size" ng-hide="opctrl.blacklistedWords.length === 0" style="height: 260px; overflow-y: scroll;">
        <li class="list-group-item clearfix" lazy-scroll="paginationFuntion()" lazy-scroll-trigger="80" ng-repeat="word in opctrl.blacklistedWords">{{word}}
          <span class="pull-right">
            <button class="btn btn-warning" ng-click="opctrl.removeBlackListedWord(word)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Youtube Video Modals -->

<div id="blacklistWebsitesModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/209928331?byline=0" width="100%" height="80%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div id="blacklistWordsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/209928591?byline=0" width="100%" height="80%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
